{% autoescape off %}
Hi {{ user.first_name|default:user.username }},

You requested a password reset for your ShopHub account. Click the link below to set a new password:

{{ protocol }}://{{ domain }}{% url 'ecommerce:password_reset_confirm' uidb64=uid token=token %}

This link will expire in 1 hour for security reasons.

If you didn't request this, you can ignore this email. Your password won't change until you click the link above and confirm the new password.

For security reasons:
- Never share this link with anyone
- We will never ask for your password via email
- Always make sure you're on our official website

Questions? Contact our support team at support@shophub.com

Best regards,
ShopHub Team
{% endautoescape %}

